/* System variables */
body {

}

a {

}

a:hover {
  text-decoration: none;
}

* + address, * + dl, * + fieldset, * + figure, * + ol, * + p, * + pre, * + ul {
  margin-top: 0;
}

.is-header {
  padding: 1.25rem 0 0;
}

.is-header .is-brand__logo,
.is-footer .is-brand__logo {
  float: left;
  margin-right: 1rem;
  margin-top: .75rem;
}

.is-header .is-brand__title,
.is-footer .is-brand__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #252724;
  margin-bottom: 0;
  margin-top: 1.25rem;
}

.is-header .is-brand__description,
.is-footer .is-brand__description {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #252724;
  margin-bottom: 0;
  margin-top: .5rem;
}

.is-header .is-header__games-counter,
.is-footer .is-footer__games-counter {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 160%;
  text-transform: uppercase;
  color: #252724;
  margin-bottom: 0;
  margin-top: 1rem;
}

.is-header .is-header__games-type,
.is-footer .is-footer__games-type {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  text-transform: uppercase;
  color: #252724;
  margin-bottom: 0;
}

.is-header .is-header__phone,
.is-footer .is-footer__phone {
  margin-top: .8rem;
}

.is-header .is-header__phone .tel,
.is-footer .is-footer__phone .tel {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F9B024;
}

.is-header .is-header__phone .email,
.is-footer .is-footer__phone .email {
  color: #000;
}

.is-footer .is-footer__phone .city {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #252724;
}

.is-header .is-header__socials,
.is-footer .is-footer__socials {
  margin-top: .25rem;
}

.is-footer .is-footer__socials {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}

.is-header .is-header__socials .social,
.is-footer .is-footer__socials .social {
  color: #fff;
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: #34A5E6;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid #34A5E6;
  transition: all .625s;
}

.is-footer .is-footer__socials .social {
  margin-left: .5rem;
}

.is-header .is-header__socials .social:hover,
.is-footer .is-footer__socials .social:hover {
  background: #fff;
  color: #34A5E6;
  transition: all .625s;
}

.is-header .is-header__games-order {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #D93636;
  border-radius: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1rem 2rem;
  margin-top: 1.75rem;
  width: 100%;
  transition: all .5s;
}

.is-header .is-header__games-order:hover,
.is-endgame .is-endgame__btn:hover,
.is-selection .view:hover,
.is-features .btn.calculate:hover,
.is-joinus .btn.order:hover,
.is-photogalery-block .btn.order:hover {
  background: #FB5050;
  transition: all .5s;
}

.is-header .is-navbar {
  margin-top: 1.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #34A5E6;
  padding-top: 0;
  padding-bottom: 0;
}

.is-header .is-navbar .navbar-nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.is-header .is-navbar .navbar-nav .nav-item {
  margin-right: 2rem;
}

.is-header .is-navbar .navbar-nav .nav-item .nav-link {
  padding: 1.5rem;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: .9375rem;
  line-height: 120%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF !important;
  border-bottom: 3px solid #34A5E6 !important;
  letter-spacing: 0.08em;
  transition: all .625s;
}

.is-header .is-navbar .navbar-nav .nav-item .nav-link.active,
.is-header .is-navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #fff !important;
  transition: all .625s;
}



.is-footer {
  padding: 3.125rem 0;
  box-shadow: inset 0px 1px 0px #ECECEC;
}

.is-footer .btn.alians {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  text-align: right;
  color: #252724;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  transition: all .5s;
}

a.alians svg.alians-logo path.fill {
  fill: #84AF5A;
}

.is-breadcrumbs {
  padding: 1.125rem 0;
  background: url(../img/breadcrumbs_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.is-breadcrumbs .breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
}

.is-breadcrumbs .breadcrumb-item {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  color: #252724;
}

.is-breadcrumbs .breadcrumb-item a {
  color: #252724;
}

.is-breadcrumbs .breadcrumb-item.active,
.is-breadcrumbs .breadcrumb-item.active a {
  opacity: .5;
}

.is-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  content: '';
  background-image: url(../img/breadcrumb_chevron.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-right: .5rem;
}

/* End of System variables */

/* Index page */

.is-slider .is-slider__slide {
  padding-top: 8rem;
  padding-bottom: 14rem;
  background-position: center !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.is-slider .is-slider__slide-content .sub {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.is-slider .is-slider__slide-content .title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F9B024;
}

.is-slider .is-slider__slide-content .description {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 2rem;
}

.is-slider .uk-slider-items {
  position: relative;
}

.is-slider .uk-slider-nav.uk-dotnav {
  z-index: 2000;
  position: absolute;
  left: calc(0% + 800px);
  bottom: 0%;
}

.is-endgame {
  background: #84AF5A;
  margin-left: -3px;
}

.is-endgame .row {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.is-endgame .is-endgame__outer {
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 -50%;
  padding: 0;
}

.is-endgame .is-endgame__inner {
  background: linear-gradient(0deg, rgba(93, 136, 52, 0.7), rgba(93, 136, 52, 0.7)), url(../img/endgame_bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0;
}

.is-endgame .is-endgame__inner img {
  margin-top: 37px;
  margin-left: calc(0% - 86px);
  float: left;
  margin-right: 1.75rem;
}

.is-endgame .is-endgame__inner-content {
  margin-top: 5rem;
  float: left;
  margin-right: 2rem;
}

.is-endgame .is-endgame__inner-content p {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 134%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}
.is-endgame .is-endgame__btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #D93636;
  border-radius: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1.625rem 3.75rem;
  margin-top: 5.25rem;
  transition: all .5s;
}

.is-why {
  background-repeat: no-repeat !important;
  background-position: right center !important;
  -webkit-background-size: contain !important;
  background-size: contain !important;
}

.is-why h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  text-transform: uppercase;
  color: #252724;
  max-width: 90%;
  margin-top: 5.9375rem;
}

.is-why h3 span {
  color: #84AF5A;
}

.is-why p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #252724;
  margin-top: 2.8125rem;
  max-width: 90%;
}

.is-why .col-lg-7 {
  position: relative;
  padding-bottom: 5.625rem;
}

.is-why .col-lg-7 .verticaline {
  border: 1px solid #F9B024;
  transform: rotate(90deg);
  width: 200px;
  height: 1px !important;
  display: block;
  position: absolute;
  bottom: calc(0% + 100px);
  left: calc(0% - 170px);
}

.is-why .col-lg-7 .verticaline.v2 {
  bottom: auto;
  left: auto;
  top: calc(0% + 50px);
  right: calc(0% - 100px);
}

.is-why .col-lg-5 {
  background-position: center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.is-advantages {
  background: url(../img/advantages_bg.png);
}

.is-advantages .col {
  background: rgba(52,165,229,.5);
  transition: all .5s;
  cursor: pointer;
}

.is-advantages .col:nth-child(2n) {
  background: rgba(83,182,238,.5);
}

.is-advantages .col:hover {
  transform: scale(1.1);
  transition: all .5s;
  background: rgba(52,165,229,1);
}

.is-advantages .col img {
  margin-top: 3.25rem;
}

.is-advantages .col h4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.is-advantages .col p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.is-selection {
  padding: 5rem 0;
  background: url(../img/selection_bg.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.is-selection h2 {
  margin-bottom: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 140%;
  text-transform: uppercase;
  color: #252724;
}

.is-selection h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  color: #252724;
}

.is-selection .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  overflow: visible;
  background-color: transparent;
}

.is-selection .card .bordered-frame {
  border-left: 1px dashed #F9B024 !important;
  border-top: 1px dashed #F9B024 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-attachment: fixed;
}

.is-selection .card .bordered-frame-top {
  border-bottom: 1px dashed #F9B024 !important;
  position: absolute;
  right: 2%;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 95%;
  height: 1px;
  background-attachment: fixed;
}

.is-selection .card .bordered-frame-bottom {
  border-bottom: 1px dashed #F9B024 !important;
  position: absolute;
  right: 1%;
  bottom: 16%;
  width: 100%;
  max-width: 50px;
  height: 1px;
  background-attachment: fixed;
}

.is-selection .card .bordered-frame-left {
  border-right: 1px dashed #F9B024 !important;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  max-width: 1px;
  background-attachment: fixed;
}

.is-selection .card .bordered-frame-right {
  border-right: 1px dashed #F9B024 !important;
  position: absolute;
  right: 1%;
  bottom: 16%;
  top: 5%;
  max-width: 1px;
  background-attachment: fixed;
}

.is-selection .card .btn.plus {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 25px;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  height: 25px;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  right: -8px;
  top: -12.75px;
  background: transparent;
  color: #34A5E6;
  transition: all .5s;
}

.is-selection .card:hover .btn.plus {
  background: #34A5E6;
  color: #fff;
}

.is-selection .card .img {
  margin-left: -.875rem;
  margin-top: .875rem;
  overflow: hidden !important;
  max-width: 98%;
}

.is-selection .card .img .mask {
    margin-left: -.875rem;
    max-width: 98%;
    opacity: 1;
    background: linear-gradient(180deg, rgba(37, 39, 36, 0) 0%, #252724 100%) !important;
    transition: background .5s;
}

.is-selection .card .img img {
  width: 100%;
  transition: all .5s;
}

.is-selection .card:hover .img img {
  transition: all .5s;
}

.is-selection .card a.title {
  position: absolute;
  bottom: 12%;
  left: 5%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all .5s;
}

.is-selection .card:hover a.title,
.is-selection .card a.title:hover {
  color: #F9B024;
  text-decoration: underline;
  bottom: 15%;
}

.is-selection .variants {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

.is-selection .variants img {
  float: left;
  margin-right: 1rem;
}

.is-selection .variants p {
  margin: 0;
  text-align: left;
  font-family: Rubik;
  font-style: normal;
  line-height: 146%;
  text-transform: uppercase;
}

.is-selection .variants p.first {
  font-weight: 300;
  font-size: 16px;
  color: #252724;
  padding-top: 1rem;
}

.is-selection .variants p.second {
  font-weight: 600;
  font-size: 20px;
  color: #34A5E5;
  text-decoration: underline;
  transition: all .5s;
}

.is-selection .variants:hover p.second {
  text-decoration: none;
  color: #252724;
  transition: all .5s;
}

.is-selection .view {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  background: #D93636;
  border-radius: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all .5s;
}

.is-weapons {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.is-weapons h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 140%;
  text-transform: uppercase;
  color: #252724;
}

.is-weapons .view,
.is-photogalery .view {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
  color: #252724;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all .5s;
  margin-top: .25rem;
}

.is-weapons .view:hover,
.is-photogalery .view:hover {
  color: #34A5E6;
  transition: all .5s;
}

.is-weapons .view span,
.is-photogalery .view span {
  border-bottom: 1px solid #34A5E6;
  margin-left: .25rem;
}

.is-weapons .view:hover span,
.is-photogalery .view:hover span {
  border-bottom: 0px;
}

.is-weapons .card {
  padding: 1.5625rem;
  border: 1px dashed #D9DDD5;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  position: relative;
  transition: all .5s;
  cursor: pointer;
}

.is-weapons .card:hover {
  background: #F6F9F3;
  transition: all .5s;
}

.is-weapons .card .btn.plus {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 0;
  position: absolute;
  bottom: -6px;
  left: -5.5px;
}

.is-weapons .card .img-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  background: #F6F9F3;
  justify-content: center;
  align-items: center;
  transition: background .5s;
}

.is-weapons .card:hover .img-block {
  background: #fff;
  transition: background .5s;
}

.is-weapons .card .img-block img {
  max-width: 75%;
}

.is-weapons .card .title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #252724;
  margin-top: 1.5625rem;
  transition: all .5s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-weapons .card .title::before {
  content: '+';
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 0;
  height: 25px;
  border-radius: 50%;
  background: #34A5E6;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  float: left;
  transition: all .5s;
  color: #fff;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-weight: 200;
  padding-bottom: 2px;
}

.is-weapons .card:hover .title::before {
  width: 25px;
  margin-right: .625rem;
  transition: all .5s;
  opacity: 1;
}

.is-weapons .card:hover .title {
  color: #34A5E6;
  transition: all .5s;
}

.is-features {
  background: url(../img/features_bg.png);
}

.is-features .wrapper {
  background-repeat: no-repeat !important;
  background-position: left center !important;
}

.is-features .bg {
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.is-features .content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3.75rem;
}

.is-features .line {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 1.25rem 0;
}

.is-features .line img {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  margin-right: 1.875rem;
}

.is-features .text-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-features .text p {
  margin: 0;
  font-family: Rubik;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  color: #252724;
}

.is-features .text .main {
  font-weight: bold;
  font-size: 30px;
}

.is-features .text .sub {
  font-weight: normal;
  font-size: 20px;
}

.is-features .btn.calculate {
  margin-top: 3.125rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1.5rem 2.5rem;
  background: #D93636;
  border-radius: 40px;
  margin-bottom: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.is-photogalery {
  padding: 5.625rem 0;
}

.is-photogalery h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 140%;
  text-transform: uppercase;
  color: #252724;
}

.is-photogalery .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 0;
  margin-bottom: 1.875rem;
  position: relative;
  overflow: hidden;
}

.is-photogalery .card.long {
  min-height: 470px;
}

.is-photogalery .card.short {
  min-height: 220px;
}

.is-photogalery .card .mask {
  transition: background .625s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-photogalery .card:hover .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background .625s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-photogalery .card .mask .angle {
  opacity: 0;
  transform: scale(0);
  transition:
      opacity .5s,
      top .5s,
      left .5s,
      bottom .5s,
      right .5s;
}

.is-photogalery .card:hover .mask .angle {
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #F9B024;
  transform: scale(1);
  transition:
      opacity .5s,
      top .5s,
      left .5s,
      bottom .5s,
      right .5s;
}

.is-photogalery .card .mask .angle.top-left {
  top: -10px;
  left: -10px;
}

.is-photogalery .card:hover .mask .angle.top-left {
  left: 10px;
  top: 10px;
  border-right: 0px;
  border-bottom: 0px;
}

.is-photogalery .card .mask .angle.top-right {
  right: -10px;
  top: -10px;
}

.is-photogalery .card:hover .mask .angle.top-right {
  right: 10px;
  top: 10px;
  border-left: 0px;
  border-bottom: 0px;
}

.is-photogalery .card .mask .angle.bottom-right {
  right: -10px;
  bottom: -10px;
}

.is-photogalery .card:hover .mask .angle.bottom-right {
  right: 10px;
  bottom: 10px;
  border-left: 0px;
  border-top: 0px;
}

.is-photogalery .card .mask .angle.bottom-left {
  left: -10px;
  bottom: -10px;
}

.is-photogalery .card:hover .mask .angle.bottom-left {
  left: 10px;
  bottom: 10px;
  border-right: 0px;
  border-top: 0px;
}

.is-photogalery .card .mask img {
  opacity: 0;
  transition: transform .5s, opacity 1s;
  transform: scale(0);
}

.is-photogalery .card:hover .mask img {
  opacity: 1;
  transition: transform .5s, opacity 1s;
  transform: scale(1);
}

.is-videoreviews {
  padding-bottom: 5.625rem;
}

.is-videoreviews h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 140%;
  text-transform: uppercase;
  color: #252724;
}

.is-videoreviews .uk-light .uk-slidenav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #34A5E6;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background .5s;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.is-videoreviews .uk-light .uk-slidenav:hover {
  background: #84AF5A;
  transition: background .5s;
}

.is-videoreviews .uk-light .uk-slidenav.uk-slidenav-previous {
  right: 4rem;
}

.is-videoreviews .uk-slider .uk-dotnav {
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.is-videoreviews .uk-slider .uk-dotnav li a{
  border: 0px !important;
  width: 8px;
  height: 8px;
  background: #252724;
  opacity: .2;
}

.is-videoreviews .uk-slider .uk-dotnav li.uk-active a {
  background: #252724;
  width: 12px;
  height: 12px;
  opacity: 1;
  border: 0px;
}

.is-videoreviews .uk-slider .uk-slider-items li {
  cursor: pointer;
}

.is-videoreviews .uk-slider .uk-slider-items li svg .wave {
  opacity: 1;
  transition: opacity .625s;
}

.is-videoreviews .uk-slider .uk-slider-items li svg .wave:nth-child(1) {
  opacity: .2;
  transition-delay: .15s;
}

.is-videoreviews .uk-slider .uk-slider-items li svg .wave:nth-child(2) {
  opacity: .3;
  transition-delay: .1s;
}

.is-videoreviews .uk-slider .uk-slider-items li svg .wave:nth-child(3) {
  opacity: .5;
  transition-delay: .05s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover svg .wave:nth-child(1) {
  transition-delay: .05s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover svg .wave:nth-child(2) {
  transition-delay: .1s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover svg .wave:nth-child(3) {
  transition-delay: .15s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover svg .wave {
  opacity: 0;
  transition: opacity .625s;
}

.is-videoreviews .uk-slider .uk-slider-items li svg .round,
.is-videoreviews .uk-slider .uk-slider-items li svg path {
  transition: fill .5s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover svg .round {
  fill: #F9B024;
  transition: fill .5s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover svg path {
  fill: #fff;
  transition: fill .5s;
}

.is-videoreviews .uk-slider .uk-slider-items li .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 52, 16, 0.3);
  transition: background .5s;
}

.is-videoreviews .uk-slider .uk-slider-items li:hover .mask {
  background: transparent;
  transition: background .5s;
}

.is-joinus {
  padding: 3rem 0;
  background: url(../img/joinus_bg.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.is-joinus .text {
  margin-bottom: 0;
  font-family: Rubik;
  font-style: normal;
  font-size: 32px;
  line-height: 134%;
  text-transform: uppercase;
}

.is-joinus .text.first {
  font-weight: 500;
  color: #252724;
}

.is-joinus .text.second {
  font-weight: bold;
  color: #F9B024;
}

.is-joinus .arrow {
  margin-right: calc(0% - 12px);
  margin-left: calc(0% - 12px);
}

.is-joinus .btn.order {
  padding: 1.5625rem 2rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #D93636;
  border-radius: 40px;
  transition: all .5s;
}

/* End of Index page */

/* Galery page */

.is-photogalery-block {
  padding: 4.375rem 0;
}

.is-photogalery-block h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  text-transform: uppercase;
  color: #252724;
}

.is-photogalery-block .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  overflow: visible;
  background-color: transparent;
}

.is-photogalery-block .card .bordered-frame {
  border-left: 1px dashed #F9B024 !important;
  border-top: 1px dashed #F9B024 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-attachment: fixed;
}

.is-photogalery-block .card .bordered-frame-top {
  border-bottom: 1px dashed #F9B024 !important;
  position: absolute;
  right: 2%;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 95%;
  height: 1px;
  background-attachment: fixed;
}

.is-photogalery-block .card .bordered-frame-bottom {
  border-bottom: 1px dashed #F9B024 !important;
  position: absolute;
  right: 1%;
  bottom: 16%;
  width: 100%;
  max-width: 50px;
  height: 1px;
  background-attachment: fixed;
}

.is-photogalery-block .card .bordered-frame-left {
  border-right: 1px dashed #F9B024 !important;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  max-width: 1px;
  background-attachment: fixed;
}

.is-photogalery-block .card .bordered-frame-right {
  border-right: 1px dashed #F9B024 !important;
  position: absolute;
  right: 1%;
  bottom: 16%;
  top: 5%;
  max-width: 1px;
  background-attachment: fixed;
}

.is-photogalery-block .card .btn.plus {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 25px;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  height: 25px;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  right: -8px;
  top: -12.75px;
  background: transparent;
  color: #34A5E6;
  transition: all .5s;
}

.is-photogalery-block .card:hover .btn.plus {
  background: #34A5E6;
  color: #fff;
}

.is-photogalery-block .card .img {
  margin-left: -.875rem;
  margin-top: .875rem;
  overflow: hidden !important;
  max-width: 98%;
}

.is-photogalery-block .card .img .mask {
    margin-left: -.875rem;
    max-width: 98%;
    opacity: 1;
    background: linear-gradient(180deg, rgba(37, 39, 36, 0) 0%, #252724 100%) !important;
    transition: background .5s;
}

.is-photogalery-block .card .img img {
  width: 100%;
  transition: all .5s;
}

.is-photogalery-block .card:hover .img img {
  transition: all .5s;
}

.is-photogalery-block .card a.title {
  position: absolute;
  bottom: 12%;
  left: 5%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all .5s;
}

.is-photogalery-block .card:hover a.title {
  bottom: 22%;
}

.is-photogalery-block .card a.title:hover {
  color: #F9B024;
  text-decoration: underline;
  bottom: 22%;
}

.is-photogalery-block .card a.view {
  position: absolute;
  bottom: 12%;
  left: 5%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #F9B024;
  display: block;
  height: 0;
  overflow: hidden;
  transition: opacity .5s, color .5s;
  opacity: 0;
}

.is-photogalery-block .card:hover a.view {
  height: auto;
  transition: opacity .5s, color .5s;
  opacity: 1;
}

.is-photogalery-block .card:hover a.view:hover {
  color: #fff;
  transition: color .5s;
}

.is-photogalery-block .btn.nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #34A5E6;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  transition: background .5s;
}

.is-photogalery-block .btn.nav:hover {
  transition: background .5s;
  background: #84AF5A;
}

.is-photogalery-block .btn.nav.next img {
  transform: rotate(180deg);
}

.is-photogalery-block .pagination {
  margin-top: .5rem;
}

.is-photogalery-block .pagination .page-item .page-link {
  border-bottom: 2px solid #fff;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #252724;
  padding: 0 .125rem;
  border-radius: 0;
  margin: 0 .55rem;
}

.is-photogalery-block .pagination .page-item.active .page-link {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #34A5E5;
  border-bottom: 2px solid #34A5E5;

}

.is-photogalery-block .pagination .page-item .page-link:hover {
  background: transparent !important;
  color: #34A5E5;
}

.is-photogalery-block .btn.get,
.is-photogalery-block .btn.order {
  padding: 1.25rem 2.5rem;
  background: #34A5E6;
  border-radius: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  transition: background .5s, all .25s;
}

.is-photogalery-block .btn.get:hover {
  filter: brightness(105%);
  transition: all .25s;
}

.is-photogalery-block .btn.order {
  background: #D93636;
}

/* End of Galery page */

/* Galery Item page */

.is-photogalery-item {
  padding: 4.375rem 0;
}

.is-photogalery-item h2.galery-name {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  text-transform: uppercase;
  color: #252724;
  margin-top: 0;
  margin-bottom: 0;
}

.is-photogalery-item p.galery-type {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.is-photogalery-item .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 0;
  margin-bottom: 1.875rem;
  position: relative;
  overflow: hidden;
}

.is-photogalery-item .card.long {
  min-height: 470px;
}

.is-photogalery-item .card.short {
  min-height: 220px;
}

.is-photogalery-item .card .mask {
  transition: background .625s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-photogalery-item .card:hover .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background .625s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-photogalery-item .card .mask .angle {
  opacity: 0;
  transform: scale(0);
  transition:
      opacity .5s,
      top .5s,
      left .5s,
      bottom .5s,
      right .5s;
}

.is-photogalery-item .card:hover .mask .angle {
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #F9B024;
  transform: scale(1);
  transition:
      opacity .5s,
      top .5s,
      left .5s,
      bottom .5s,
      right .5s;
}

.is-photogalery-item .card .mask .angle.top-left {
  top: -10px;
  left: -10px;
}

.is-photogalery-item .card:hover .mask .angle.top-left {
  left: 10px;
  top: 10px;
  border-right: 0px;
  border-bottom: 0px;
}

.is-photogalery-item .card .mask .angle.top-right {
  right: -10px;
  top: -10px;
}

.is-photogalery-item .card:hover .mask .angle.top-right {
  right: 10px;
  top: 10px;
  border-left: 0px;
  border-bottom: 0px;
}

.is-photogalery-item .card .mask .angle.bottom-right {
  right: -10px;
  bottom: -10px;
}

.is-photogalery-item .card:hover .mask .angle.bottom-right {
  right: 10px;
  bottom: 10px;
  border-left: 0px;
  border-top: 0px;
}

.is-photogalery-item .card .mask .angle.bottom-left {
  left: -10px;
  bottom: -10px;
}

.is-photogalery-item .card:hover .mask .angle.bottom-left {
  left: 10px;
  bottom: 10px;
  border-right: 0px;
  border-top: 0px;
}

.is-photogalery-item .card .mask img {
  opacity: 0;
  transition: transform .5s, opacity 1s;
  transform: scale(0);
}

.is-photogalery-item .card:hover .mask img {
  opacity: 1;
  transition: transform .5s, opacity 1s;
  transform: scale(1);
}

/* End of Galery Item page */

/* Pubs page */

.is-pubs {
  padding: 4.375rem 0;
}

.is-pubs h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  text-transform: uppercase;
  color: #252724;
}

.is-pubs .btn.nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #34A5E6;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  transition: background .5s;
}

.is-pubs .btn.nav:hover {
  transition: background .5s;
  background: #84AF5A;
}

.is-pubs .btn.nav.next img {
  transform: rotate(180deg);
}

.is-pubs .pagination {
  margin-top: .5rem;
}

.is-pubs .pagination .page-item .page-link {
  border-bottom: 2px solid #fff;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #252724;
  padding: 0 .125rem;
  border-radius: 0;
  margin: 0 .55rem;
}

.is-pubs .pagination .page-item.active .page-link {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #34A5E5;
  border-bottom: 2px solid #34A5E5;

}

.is-pubs .pagination .page-item .page-link:hover {
  background: transparent !important;
  color: #34A5E5;
}

.is-pubs .card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-pubs .card .card-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  color: #252724;
  transition: color .5s;
  cursor: pointer;
}

.is-pubs .card .card-title:hover {
  color: #34A5E6;
  transition: color .5s;
}

.is-pubs .card .card-text {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #252724;
}

.is-pubs .card .card-text .btn.more {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: #252724;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  align-items: center;
  transition: color .5s;
}

.is-pubs .card .card-text .btn.more:hover {
  color: #34A5E6;
  transition: color .5s;
}

.is-pubs .card .card-text .btn.more .plus {
  display: block;
  width: 25px;
  justify-content: center;
  font-size: 1.5rem;
  padding: 3px 4px 2.5px 4px;
  margin: 0;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: #34A5E6;
  transition: all .5s;
  font-weight: 200;
  margin-top: -.125rem;
  margin-right: .5rem;
  transition: background .5s, color .5s;
}

.is-pubs .card .card-text .btn.more:hover .plus {
  background: #34A5E6;
  color: #fff;
  width: 25px;
  height: 25px;
  transition: background .5s, color .5s;
}

.is-pubs .card .img {
  position: relative;
  background-position: center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.is-pubs .card .img .mask {
  max-width: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2) !important;
  transition: background .5s;
}

.is-pubs .card .img-block {
  position: relative;
}

.is-pubs .card .bordered-frame-top {
  border-bottom: 1px dashed #F9B024;
  position: absolute;
  top: 4%;
  right: 0;
  left: 4%;
}

.is-pubs .card .bordered-frame-left {
  border-left: 1px dashed #F9B024;
  position: absolute;
  top: 4%;
  bottom: 4%;
  left: 4%;
}

.is-pubs .card .bordered-frame-bottom {
  border-bottom: 1px dashed #F9B024;
  position: absolute;
  right: -9%;
  bottom: 4%;
  left: 4%;
}

.is-pubs .card .bordered-frame-right {
  border-left: 1px dashed #F9B024;
  position: absolute;
  top: 85%;
  bottom: 4%;
  right: -9%;
}
