@media screen and (max-width:575px) {

  .is-header .is-header__games-counter,
  .is-footer .is-footer__games-counter,
  .is-header .is-header__games-type,
  .is-footer .is-footer__games-type,
  .is-header .is-header__phone,
  .is-footer .is-footer__phone {
    text-align: center;
  }

  .is-header .is-brand__title,
  .is-footer .is-brand__title {
    margin-top: 2rem;
  }

  .is-header .brand a,
  .is-footer .brand a {
    justify-content: center;
  }

  .is-header .brand a .is-brand,
  .is-footer .brand a .is-brand {
    max-width: 40%;
    text-align: center;
  }

  .is-footer {
    padding: 0 0 .5rem !important;
  }

  .is-header .is-header__socials,
  .is-footer .is-footer__socials {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  .is-endgame .is-endgame__outer {
    display: none;
  }

  .is-slider .uk-slider-nav.uk-dotnav {
    display: none;
  }

  .is-photogalery {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .is-selection .row.mt-5 {
    padding-left: 1rem;
  }

  .is-selection .view-block {
    margin-bottom: 1rem;
  }

  .is-weapons .btn.view,
  .is-photogalery .btn.view {
    text-align: center !important;
  }

  .is-features .content {
    padding-left: 1rem;
  }

  .is-features .line img {
    box-shadow: none;
  }

  .is-features .btn.calculate {
    display: block;
  }

  .is-videoreviews .uk-slider {
    padding-top: 5rem !important;
  }

  .is-videoreviews .title-block {
    margin-bottom: 0 !important;
  }

  .is-joinus .arrows-block {
    margin-top: 2rem;
    transform: rotate(90deg);
    margin-bottom: 3rem;
  }

  .is-footer .btn.alians {
    text-align: center !important;
    margin-top: 1.5rem !important;
  }

  .is-endgame .is-endgame__inner {
    padding-left: .5rem !important;
    padding-bottom: 2rem;
  }

  .is-endgame .is-endgame__inner-content p {
    padding-left: 1rem;
  }

  .is-why {
    overflow: hidden;
    background: none !important;
  }

  .is-main.about .is-info {
    background: none !important;
  }

  .is-main.about .is-weapons .row.mt-5,
  .is-default,
  .is-photogalery-item,
  .is-photogalery-block,
  .is-main.about .is-partners,
  .is-photogalery-block .galery-items,
  .is-main.platforms .is-platforms-list,
  .is-main.platforms .is-platforms-list .platform-items,
  .is-main.players .players-list,
  .is-pubs,
  .is-main.weapons .is-weapons-list,
  .is-main.weapons .is-weapons-list .weapon-items
   {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .is-main.about .is-partners .title-block,
  .is-main.about .is-certificates .title-block {
    margin-bottom: 0 !important;
  }

  .is-main.about .is-partners .uk-slider {
    padding-top: 5rem !important;
  }

  .is-main.about .is-certificates .uk-slider {
    padding-top: 5rem !important;
  }

  .is-pubs .card .bordered-frame-bottom,
  .is-pubs .card .bordered-frame-right {
    right: 4%;
  }

}

@media screen and (min-width:576px) and (max-width:767px) {

    .is-header .is-header__games-counter,
    .is-footer .is-footer__games-counter,
    .is-header .is-header__games-type,
    .is-footer .is-footer__games-type,
    .is-header .is-header__phone,
    .is-footer .is-footer__phone {
      text-align: center;
    }

    .is-header .brand,
    .is-footer .brand {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }

    .is-header .is-brand {
    }

    .is-header .is-header__socials,
    .is-footer .is-footer__socials {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-evenly;
      margin-top: 1rem;
    }

    .is-footer .btn.alians {
      text-align: center !important;
      margin-top: 1.5rem !important;
    }

    .is-footer {
      padding: 0 0 .5rem !important;
    }

    .is-joinus .arrows-block {
      margin-top: 2rem;
      transform: rotate(90deg);
      margin-bottom: 3rem;
    }

    .is-endgame .is-endgame__outer {
      display: none;
    }

    .is-endgame .is-endgame__inner {
      padding-left: .5rem !important;
      padding-bottom: 2rem;
    }

    .is-endgame .is-endgame__inner-content p {
      padding-left: 1rem;
    }

    .is-slider .uk-slider-nav.uk-dotnav {
      display: none;
    }

    .is-main.about .is-weapons .row.mt-5,
    .is-default,
    .is-photogalery-item,
    .is-photogalery-block,
    .is-main.about .is-partners,
    .is-photogalery-block .galery-items,
    .is-main.platforms .is-platforms-list,
    .is-main.platforms .is-platforms-list .platform-items,
    .is-main.players .players-list,
    .is-pubs,
    .is-main.weapons .is-weapons-list,
    .is-main.weapons .is-weapons-list .weapon-items
     {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .is-why {
      background: none !important;
    }

    .is-main.about .is-info {
      background: none !important;
    }

    .is-main.about .is-partners .title-block,
    .is-main.about .is-certificates .title-block {
      margin-bottom: 0 !important;
    }

    .is-weapons .btn.view,
    .is-photogalery .btn.view {
      text-align: center !important;
    }

    .is-selection .view-block {
      margin-bottom: 1rem;
    }

    .is-pubs .card .bordered-frame-bottom,
    .is-pubs .card .bordered-frame-right {
      right: -2%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

  .is-endgame .is-endgame__outer {
    display: none;
  }

  .is-endgame .is-endgame__inner {
    padding-left: .5rem !important;
    padding-bottom: 2rem;
  }

  .is-endgame .is-endgame__inner-content p {
    padding-left: 1rem;
  }

  .is-why {
    background: none !important;
  }

  .is-selection .variants p.first {
    padding-top: 0;
  }

  .is-joinus .arrows-block {
    margin-top: 2rem;
    transform: rotate(90deg);
    margin-bottom: 3rem;
  }

  .is-footer {
    padding: 0 0 .5rem !important;
  }

  .is-main.about .is-info {
    background: none !important;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .is-header .is-brand__title,
  .is-footer .is-brand__title {
    font-size: 16px;
  }

  .is-header .is-brand__description,
  .is-footer .is-brand__description {
    font-size: 12px;
  }

  .is-header .is-header__games-counter,
  .is-footer .is-footer__games-counter {
    line-height: 120%;
    font-size: 22px;
  }

  .is-header .is-header__games-type,
  .is-footer .is-footer__games-type {
    line-height: 120%;
    font-size: 20px;
  }

  .is-header .is-header__phone .tel,
  .is-footer .is-footer__phone .tel {
    line-height: 100%;
    font-size: 18px;
  }

  .is-header .col-md-6.offset-lg-1.col-lg-2 {
    margin-left: 0;
  }

  .is-header .is-header__games-order {
    display: block;
    width: 150%;
  }

  .is-header .is-navbar .navbar-nav .nav-item {
    margin-right: 0;
  }

  .is-slider .is-slider__slide-content .col-lg-7 {
    width: 75%;
  }

  .is-endgame .is-endgame__btn {
    margin-top: 2rem;
  }

  .is-endgame .is-endgame__inner {
    padding-bottom: 2rem;
  }

  .is-why {
    background: none !important;
  }

  .is-why .col-lg-7 .verticaline.v2 {
    right: calc(0% - 300px);
  }

  .is-selection .variants p.first {
    padding-top: 0;
  }

  .is-features .line img {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .is-main.about .is-info {
    background: none !important;
  }

  .is-pubs .card .bordered-frame-right {
    display: none;
  }
}

@media screen and (min-width:1200px) and (max-width:1399px) {

  .is-header .is-header__games-counter,
  .is-footer .is-footer__games-counter {
    line-height: 120%;
    font-size: 22px;
    margin-top: 2rem;
  }

  .is-header .is-header__games-type,
  .is-footer .is-footer__games-type {
    line-height: 120%;
    font-size: 20px;
  }

  .is-header .col-md-6.offset-lg-1.col-lg-2 {
    margin-left: 0;
  }

  .is-header .is-header__games-order {
    display: block;
    width: 150%;
  }

  .is-why {
    -webkit-background-size: 40% !important;
    background-size: 40% !important;
  }

  .is-endgame .is-endgame__btn {
    margin-top: 2rem;
  }

  .is-endgame .is-endgame__inner {
    padding-bottom: 2rem;
  }

  .is-why .col-lg-7 .verticaline.v2 {
    right: calc(0% - 130px);
  }

  .is-pubs .card .bordered-frame-right,
  .is-pubs .card .bordered-frame-bottom {
    right: -3%;
  }
}
